<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="max-width: 50%;">
        <div class="header clearfix">
            <h3 class="text-muted">ЗВЕЗДА СИБИРИ</h3>
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Кобели</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Суки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Выпускники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Щенки на продажу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Обратная связь</a>
                    </li>
                </ul>
            </nav>
        </div>
        <hr>
        {% block content %}{% endblock %}
        <hr>
        <footer class="footer">
            <p class="text-muted">ЗВЕЗДА СИБИРИ 2023</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>