{% extends "base.html" %}

{% block content %}
<div class="mt-4 p-5 bg-light rounded">
    <h1 class="display-3">ЗВЕЗДА СИБИРИ</h1>
    <p class="lead">Племенной питомник среднеазиатских овчарок.</p>
</div>
<div class="mt-4" style="text-align: justify; text-indent: 20px;">
    <h4 style="text-indent: 0;">Питомник ЗВЕЗДА СИБИРИ</h4>
    <p>Добро пожаловать на сайт питомника среднеазиатских овчарок “Звезда Сибири”!</p>
    <p>Наш питомник официально зарегистрирован в Российской Кинологической Федерации (РКФ) и в Международной
        Кинологической Федерации (FCI) с 1998 года. Свидетельство о регистрации № 1005. Клеймо "ZUS". Владелец
        питомника - Ермакова Екатерина Юрьевна, по образованию ветеринарный врач. Питомник находится в г.
        Новосибирске.</p>
    <p>С 2006 года мы занимаемся разведением собак породы среднеазиатская овчарка (алабай, туркменский волкодав,
        САО). В настоящий момент в питомнике содержатся собаки преимущественно туркменского происхождения.</p>
    <p>В нашем питомнике Вы можете купить породного щенка среднеазиатской овчарки, получить консультации по его
        выращиванию, содержанию, кормлению и воспитанию. Все щенки, предлагаемые на продажу, обработаны от
        гельминтов, привиты по возрасту, имеют клеймо и полный пакет документов (метрика щенка РКФ и
        ветеринарный паспорт со всеми отметками).</p>
    <img src="static/img/kisa.jpg" class="img-fluid watermark">
</div>
<div class="mt-4" style="text-align: justify; text-indent: 20px;">
    <h4 style="text-indent: 0;">Новости питомника</h4>

    <p>26 февраля 2021 г в питомнике родились щенки среднеазиатской овчарки от пары: Евроазия Улан и Звезда Сибири Дара
        Кисмет. Окрасы: тигровый, серо-тигровый, палевый и рыжий.</p>
    <img src="static/img/mnoga_detey.jpg" class="img-fluid watermark">

    <hr>

    <p>20 октября 2020 г в питомнике родились щенки среднеазиатской овчарки с чистым туркменским происхождением (все
        предки вывезены из Туркмении) от пары: Евроазия Улан и Зар Хакан Звезда Сибири. Окрасы: белый и светло-палевый.
    </p>
    <img src="static/img/belie.jpg" class="img-fluid watermark">

    <hr>

    <p>28 июля 2019 г - Звезда Сибири Даная (Заравшан Сухейм Джабар - Зар Хакан Звезда Сибири) - Лучшая Сука Юниор на
        всепородной выставке ранга КЧФ, г. Москва, эксперт - Никитина Людмила, владелец - Беньковская Диана.</p>
    <div class="row">
        <div class="col">
            <img src="static/img/danaya.jpg" class="img-fluid watermark">
        </div>
        <div class="col">
            <img src="static/img/diplom.jpg" class="img-fluid watermark">
        </div>
    </div>

    <hr>

    <p>7 апреля 2019 г - Звезда Сибири Даная (Заравшан Сухейм Джабар - Зар Хакан Звезда Сибири) - Лучший Щенок Сука на
        монопородной выставке ранга КЧК, г. Москва, эксперт - Седых Н., владелец - Диана Беньковская, хендлер - Виктория
        Эгай-Самсонова.</p>
    <div class="row">
        <div class="col">
            <img src="static/img/1.jpg" class="img-fluid watermark">
        </div>
        <div class="col">
            <img src="static/img/2.jpg" class="img-fluid watermark">
        </div>
    </div>

    <hr>

    <p>24 сентября 2018 г в питомнике родились щенки среднеазиатской овчарки от пары: Заравшан Сухейм Джабар и Зар Хакан
        Звезда Сибири. Окрасы черный, черно-белый и тигровый.</p>
    <img src="static/img/tolstiy.jpg" class="img-fluid">
</div>
{% endblock %}